[Unit]
Description=RTSP to MQTT Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/rtsptomqtt/rtsptomqtt --config /opt/rtsptomqtt/rtsptomqtt.cfg
TimeoutStopSec=15s
KillMode=mixed
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

